<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.rackshift.mybatis.mapper.ext.ExtBareMetalRuleMapper">
    <select id="list" parameterType="io.rackshift.model.BareMetalRuleVO"
            resultType="io.rackshift.model.BareMetalRuleDTO">
       select
       bmr.*,
       count(bm.id) number
       from bare_metal_rule bmr
       left join bare_metal bm on bmr.id = bm.rule_id
       group by bmr.id
    </select>

</mapper>