<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.rackshift.mybatis.mapper.ext.ExtSwitchPortMapper">
    <select id="getPortsById" parameterType="String"
            resultType="io.rackshift.model.SwitchPortDTO">
        SELECT
        s. NAME switchName,
        sp.id,
        sp.mac,
        sp. PORT,
        sp.create_time createTime,
        sp.update_time updateTime,
        ifnull(
        bm.machine_sn,
        bm2.machine_sn
        ) machineSn,
        ifnull(
        bm.machine_model,
        bm2.machine_model
        ) machineModel,
        ifnull(
        bm.machine_brand,
        bm2.machine_brand
        ) machineBrand,
        IFNULL(bm2.id, 'no') outband
        FROM
        switch_port sp
        LEFT JOIN network_card nc ON sp.mac = nc.mac
        LEFT JOIN bare_metal bm2 ON bm2.bmc_mac = sp.mac
        LEFT JOIN bare_metal bm ON bm.id = nc.bare_metal_id
        LEFT JOIN switch s ON sp.switch_id = s.id
        <where>
            <if test="id != null and id != ''">
                sp.switch_id = #{id}
            </if>
        </where>
    </select>

</mapper>