<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.rackshift.mybatis.mapper.WorkflowParamTemplatesMapper">
  <resultMap id="BaseResultMap" type="io.rackshift.mybatis.domain.WorkflowParamTemplates">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="bare_metal_id" jdbcType="VARCHAR" property="bareMetalId" />
    <result column="workflow_name" jdbcType="VARCHAR" property="workflowName" />
    <result column="workflow_id" jdbcType="VARCHAR" property="workflowId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.rackshift.mybatis.domain.WorkflowParamTemplatesWithBLOBs">
    <result column="params_template" jdbcType="LONGVARCHAR" property="paramsTemplate" />
    <result column="extra_params" jdbcType="LONGVARCHAR" property="extraParams" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, bare_metal_id, workflow_name, workflow_id
  </sql>
  <sql id="Blob_Column_List">
    params_template, extra_params
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from workflow_param_templates
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from workflow_param_templates
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from workflow_param_templates
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from workflow_param_templates
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesExample">
    delete from workflow_param_templates
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesWithBLOBs">
    insert into workflow_param_templates (id, user_id, bare_metal_id, 
      workflow_name, workflow_id, params_template, 
      extra_params)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{bareMetalId,jdbcType=VARCHAR}, 
      #{workflowName,jdbcType=VARCHAR}, #{workflowId,jdbcType=VARCHAR}, #{paramsTemplate,jdbcType=LONGVARCHAR}, 
      #{extraParams,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesWithBLOBs">
    insert into workflow_param_templates
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="bareMetalId != null">
        bare_metal_id,
      </if>
      <if test="workflowName != null">
        workflow_name,
      </if>
      <if test="workflowId != null">
        workflow_id,
      </if>
      <if test="paramsTemplate != null">
        params_template,
      </if>
      <if test="extraParams != null">
        extra_params,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bareMetalId != null">
        #{bareMetalId,jdbcType=VARCHAR},
      </if>
      <if test="workflowName != null">
        #{workflowName,jdbcType=VARCHAR},
      </if>
      <if test="workflowId != null">
        #{workflowId,jdbcType=VARCHAR},
      </if>
      <if test="paramsTemplate != null">
        #{paramsTemplate,jdbcType=LONGVARCHAR},
      </if>
      <if test="extraParams != null">
        #{extraParams,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesExample" resultType="java.lang.Long">
    select count(*) from workflow_param_templates
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update workflow_param_templates
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.bareMetalId != null">
        bare_metal_id = #{record.bareMetalId,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowName != null">
        workflow_name = #{record.workflowName,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowId != null">
        workflow_id = #{record.workflowId,jdbcType=VARCHAR},
      </if>
      <if test="record.paramsTemplate != null">
        params_template = #{record.paramsTemplate,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.extraParams != null">
        extra_params = #{record.extraParams,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update workflow_param_templates
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      bare_metal_id = #{record.bareMetalId,jdbcType=VARCHAR},
      workflow_name = #{record.workflowName,jdbcType=VARCHAR},
      workflow_id = #{record.workflowId,jdbcType=VARCHAR},
      params_template = #{record.paramsTemplate,jdbcType=LONGVARCHAR},
      extra_params = #{record.extraParams,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update workflow_param_templates
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      bare_metal_id = #{record.bareMetalId,jdbcType=VARCHAR},
      workflow_name = #{record.workflowName,jdbcType=VARCHAR},
      workflow_id = #{record.workflowId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesWithBLOBs">
    update workflow_param_templates
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bareMetalId != null">
        bare_metal_id = #{bareMetalId,jdbcType=VARCHAR},
      </if>
      <if test="workflowName != null">
        workflow_name = #{workflowName,jdbcType=VARCHAR},
      </if>
      <if test="workflowId != null">
        workflow_id = #{workflowId,jdbcType=VARCHAR},
      </if>
      <if test="paramsTemplate != null">
        params_template = #{paramsTemplate,jdbcType=LONGVARCHAR},
      </if>
      <if test="extraParams != null">
        extra_params = #{extraParams,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplatesWithBLOBs">
    update workflow_param_templates
    set user_id = #{userId,jdbcType=VARCHAR},
      bare_metal_id = #{bareMetalId,jdbcType=VARCHAR},
      workflow_name = #{workflowName,jdbcType=VARCHAR},
      workflow_id = #{workflowId,jdbcType=VARCHAR},
      params_template = #{paramsTemplate,jdbcType=LONGVARCHAR},
      extra_params = #{extraParams,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.rackshift.mybatis.domain.WorkflowParamTemplates">
    update workflow_param_templates
    set user_id = #{userId,jdbcType=VARCHAR},
      bare_metal_id = #{bareMetalId,jdbcType=VARCHAR},
      workflow_name = #{workflowName,jdbcType=VARCHAR},
      workflow_id = #{workflowId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>