# Copyright 2020 RackShift

default-lease-time 600;
max-lease-time 7200;

# authoritative;
# log-facility local7;

ignore-client-uids true;
deny duplicates;

option domain-name-servers 172.31.128.250;
option routers 172.31.128.254;

#foreach($config in $dhcpConfig)
subnet $config.netSegment netmask $config.netmask {
  range $config.startIp $config.endIp ;
 #if($config.pxeEnabled)
 option vendor-class-identifier "PXEClient";
#end
}
#end